<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TheaterTicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>TicketBooking.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>TicketBooking.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>LogIn.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>LogIn.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword2</display-name>
    <servlet-name>ForgetPassword2</servlet-name>
    <servlet-class>LogIn.ForgetPassword2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword2</servlet-name>
    <url-pattern>/ForgetPassword2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>LogIn.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>products.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>products.CartServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
</servlet-mapping>

</web-app>